@use "./navbar/navbar";
@use "./articles/articles";
@use "./conclusion/conclusion";
@use "./definition/definition";
@use "./examples/examples";
@use "./footer/footer";
@use "./hero/hero";
@use "./infographic/infographic";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
