@use "../themeprovider/themeprovider" as theme-provider;

.scroll-to-up {
  position: fixed;
  z-index: 1;
  bottom: 0.8em;
  right: 0.8em;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1em);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.scroll-to-up button {
  font-size: 2rem;
  border: none;
  color: theme-provider.$dark-green-color;
  background: transparent;
  cursor: pointer;
  transition: color 0.35s ease-in-out;
}

.scroll-to-up button:hover {
  color: theme-provider.$dark-green-color-2;
}

.scroll-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0em);
}

@media screen and (min-width: 48em) {
  .scroll-to-up {
    bottom: 1.3em;
    right: 1.3em;
  }

  .scroll-to-up button {
    font-size: 2.6rem;
  }
}
